.authButtonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.authButton {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    background-image: url('auth-button.png');
    background-color: #0eee91;
    border: none;
    animation: rotate360 4.5s infinite linear;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-60deg);
    }
    40% {
        transform: rotate(-120deg);
    }
    60% {
        transform: rotate(-180deg);
    }
    80% {
        transform: rotate(-240deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

body {
    background-color: #0eee91;
}

/* CSS */
.player-container {
    background-color: #191414;
    color: #1db954;
    padding: 40px;
    border-radius: 10px;
    max-width: 350px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.song-display h1, .song-display h2 {
    color: #fff;
    text-align: center;
}

.song-display img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
}

.song-display img.rotating {
    animation: rotate360 9.5s infinite linear;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.input-form button {
    background-color: #1db954;
    color: #191414;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-form button:disabled {
    background-color: #535353;
}

.input-form button:not(:disabled):hover {
    background-color: #1ed760;
}

.player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.player-controls button {
    margin-left: 15px;
    margin-top: 15px;
}

.clear-history-button {
    background-color: #1db954;
    color: #191414;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.clear-history-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
